In [1]:
import pandas as pd

In [5]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [6]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [7]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HAJOS, Alfred to LIDBERG, Jimmy
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Country     31161 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

In [8]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: HAJOS, Alfred, dtype: object

In [9]:
type(summer.iloc[0])

pandas.core.series.Series

In [12]:
summer.iloc[[1,2,3]]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold

In [18]:
summer.iloc[:]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [20]:
summer.iloc[[2, 45, 5467]]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"PERSAKIS, Ioannis",1896,Athens,Athletics,Athletics,GRE,Men,Triple Jump,Bronze
"POLAK, Ans",1928,Amsterdam,Gymnastics,Artistic G.,NED,Women,Team Competition,Gold

In [21]:
summer.head(10)

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold

In [22]:
summer.iloc[0,4]

'HUN'

In [25]:
summer.iloc[34:39,[0, 2, 5, 7]]

                      Year      Sport Gender   Medal
Athlete
GARRETT, Robert       1896  Athletics    Men  Silver
KELLNER, Gyula        1896  Athletics    Men  Bronze
LOUIS, Spyridon       1896  Athletics    Men    Gold
VASILAKOS, Kharilaos  1896  Athletics    Men  Silver
DAMASKOS, Evangelos   1896  Athletics    Men  Bronze

In [29]:
summer.iloc[:, 4].equals(summer.Country)

True

In [32]:
summer.loc["DRIVAS, Dimitrios"]

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [36]:
summer.loc["PHELPS, Michael", ["Medal", "Gender", "Event"]]

                  Medal Gender                   Event
Athlete
PHELPS, Michael    Gold    Men          100M Butterfly
PHELPS, Michael    Gold    Men          200M Butterfly
PHELPS, Michael  Bronze    Men          200M Freestyle
PHELPS, Michael    Gold    Men  200M Individual Medley
PHELPS, Michael    Gold    Men  400M Individual Medley
PHELPS, Michael  Bronze    Men  4X100M Freestyle Relay
PHELPS, Michael    Gold    Men     4X100M Medley Relay
PHELPS, Michael    Gold    Men  4X200M Freestyle Relay
PHELPS, Michael    Gold    Men          100M Butterfly
PHELPS, Michael    Gold    Men          200M Butterfly
PHELPS, Michael    Gold    Men          200M Freestyle
PHELPS, Michael    Gold    Men  200M Individual Medley
PHELPS, Michael    Gold    Men  400M Individual Medley
PHELPS, Michael    Gold    Men  4X100M Freestyle Relay
PHELPS, Michael    Gold    Men     4X100M Medley Relay
PHELPS, Michael    Gold    Men  4X200M Freestyle Relay
PHELPS, Michael    Gold    Men          100M Butterfly
PHELPS, Michael  Silver    Men          200M Butterfly
PHELPS, Michael    Gold    Men             200M Medley
PHELPS, Michael  Silver    Men        4X100M Freestyle
PHELPS, Michael    Gold    Men           4X100M Medley
PHELPS, Michael    Gold    Men        4X200M Freestyle

In [37]:
summer.loc[["PHELPS, Michael", "LEWIS, Carl"], ["Medal", "Gender", "Event"]]

                  Medal Gender                   Event
Athlete
PHELPS, Michael    Gold    Men          100M Butterfly
PHELPS, Michael    Gold    Men          200M Butterfly
PHELPS, Michael  Bronze    Men          200M Freestyle
PHELPS, Michael    Gold    Men  200M Individual Medley
PHELPS, Michael    Gold    Men  400M Individual Medley
PHELPS, Michael  Bronze    Men  4X100M Freestyle Relay
PHELPS, Michael    Gold    Men     4X100M Medley Relay
PHELPS, Michael    Gold    Men  4X200M Freestyle Relay
PHELPS, Michael    Gold    Men          100M Butterfly
PHELPS, Michael    Gold    Men          200M Butterfly
PHELPS, Michael    Gold    Men          200M Freestyle
PHELPS, Michael    Gold    Men  200M Individual Medley
PHELPS, Michael    Gold    Men  400M Individual Medley
PHELPS, Michael    Gold    Men  4X100M Freestyle Relay
PHELPS, Michael    Gold    Men     4X100M Medley Relay
PHELPS, Michael    Gold    Men  4X200M Freestyle Relay
PHELPS, Michael    Gold    Men          100M Butterfly
PHELPS, Michael  Silver    Men          200M Butterfly
PHELPS, Michael    Gold    Men             200M Medley
PHELPS, Michael  Silver    Men        4X100M Freestyle
PHELPS, Michael    Gold    Men           4X100M Medley
PHELPS, Michael    Gold    Men        4X200M Freestyle
LEWIS, Carl        Gold    Men                    100M
LEWIS, Carl        Gold    Men                    200M
LEWIS, Carl        Gold    Men            4X100M Relay
LEWIS, Carl        Gold    Men               Long Jump
LEWIS, Carl        Gold    Men                    100M
LEWIS, Carl      Silver    Men                    200M
LEWIS, Carl        Gold    Men               Long Jump
LEWIS, Carl        Gold    Men            4X100M Relay
LEWIS, Carl        Gold    Men               Long Jump
LEWIS, Carl        Gold    Men               Long Jump

In [39]:
summer.loc[:, ["Medal", "Gender", "Event"]]

                            Medal Gender                       Event
Athlete
HAJOS, Alfred                Gold    Men              100M Freestyle
HERSCHMANN, Otto           Silver    Men              100M Freestyle
DRIVAS, Dimitrios          Bronze    Men  100M Freestyle For Sailors
MALOKINIS, Ioannis           Gold    Men  100M Freestyle For Sailors
CHASAPIS, Spiridon         Silver    Men  100M Freestyle For Sailors
...                           ...    ...                         ...
JANIKOWSKI, Damian         Bronze    Men                    Wg 84 KG
REZAEI, Ghasem Gholamreza    Gold    Men                    Wg 96 KG
TOTROV, Rustam             Silver    Men                    Wg 96 KG
ALEKSANYAN, Artur          Bronze    Men                    Wg 96 KG
LIDBERG, Jimmy             Bronze    Men                    Wg 96 KG

[31165 rows x 3 columns]

In [41]:
summer.tail(10).loc[:, ["Medal", "Gender", "Event"]]

                               Medal Gender     Event
Athlete
AHMADOV, Emin                 Bronze    Men  Wg 74 KG
KAZAKEVIC, Aleksandr          Bronze    Men  Wg 74 KG
KHUGAEV, Alan                   Gold    Men  Wg 84 KG
EBRAHIM, Karam Mohamed Gaber  Silver    Men  Wg 84 KG
GAJIYEV, Danyal               Bronze    Men  Wg 84 KG
JANIKOWSKI, Damian            Bronze    Men  Wg 84 KG
REZAEI, Ghasem Gholamreza       Gold    Men  Wg 96 KG
TOTROV, Rustam                Silver    Men  Wg 96 KG
ALEKSANYAN, Artur             Bronze    Men  Wg 96 KG
LIDBERG, Jimmy                Bronze    Men  Wg 96 KG

In [42]:
summer.head(20)

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Bronze
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,1200M Freestyle,Gold
"ANDREOU, Joannis",1896,Athens,Aquatics,Swimming,GRE,Men,1200M Freestyle,Silver
"CHOROPHAS, Efstathios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Bronze
"NEUMANN, Paul",1896,Athens,Aquatics,Swimming,AUT,Men,400M Freestyle,Gold
"PEPANOS, Antonios",1896,Athens,Aquatics,Swimming,GRE,Men,400M Freestyle,Silver
"LANE, Francis",1896,Athens,Athletics,Athletics,USA,Men,100M,Bronze
"SZOKOLYI, Alajos",1896,Athens,Athletics,Athletics,HUN,Men,100M,Bronze
"BURKE, Thomas",1896,Athens,Athletics,Athletics,USA,Men,100M,Gold
"HOFMANN, Fritz",1896,Athens,Athletics,Athletics,GER,Men,100M,Silver
"CURTIS, Thomas",1896,Athens,Athletics,Athletics,USA,Men,110M Hurdles,Gold
"GOULDING, Grantley",1896,Athens,Athletics,Athletics,GBR,Men,110M Hurdles,Silver
"LERMUSIAUX, Albin",1896,Athens,Athletics,Athletics,FRA,Men,1500M,Bronze
"FLACK, Edwin",1896,Athens,Athletics,Athletics,AUS,Men,1500M,Gold
"BLAKE, Arthur",1896,Athens,Athletics,Athletics,USA,Men,1500M,Silver

In [46]:
summer.loc["DRIVAS, Dimitrios":"BLAKE, Arthur", "City":"Discipline"]

                         City      Sport Discipline
Athlete
DRIVAS, Dimitrios      Athens   Aquatics   Swimming
MALOKINIS, Ioannis     Athens   Aquatics   Swimming
CHASAPIS, Spiridon     Athens   Aquatics   Swimming
CHOROPHAS, Efstathios  Athens   Aquatics   Swimming
HAJOS, Alfred          Athens   Aquatics   Swimming
ANDREOU, Joannis       Athens   Aquatics   Swimming
CHOROPHAS, Efstathios  Athens   Aquatics   Swimming
NEUMANN, Paul          Athens   Aquatics   Swimming
PEPANOS, Antonios      Athens   Aquatics   Swimming
LANE, Francis          Athens  Athletics  Athletics
SZOKOLYI, Alajos       Athens  Athletics  Athletics
BURKE, Thomas          Athens  Athletics  Athletics
HOFMANN, Fritz         Athens  Athletics  Athletics
CURTIS, Thomas         Athens  Athletics  Athletics
GOULDING, Grantley     Athens  Athletics  Athletics
LERMUSIAUX, Albin      Athens  Athletics  Athletics
FLACK, Edwin           Athens  Athletics  Athletics
BLAKE, Arthur          Athens  Athletics  Athletics

In [57]:
summer.loc[["PHELPS, Michael"]]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"PHELPS, Michael",2004,Athens,Aquatics,Swimming,USA,Men,100M Butterfly,Gold

In [58]:
summer.reindex(index = [0, 5, 30000, 40000], columns = ["Athlete", "Medal"])

         Athlete Medal
Athlete
0            NaN   NaN
5            NaN   NaN
30000        NaN   NaN
40000        NaN   NaN

In [53]:
duplicate_indexes = summer.index[summer.index.duplicated()].unique()
print(f"중복된 인덱스: {duplicate_indexes}")

중복된 인덱스: Index(['HAJOS, Alfred', 'CHOROPHAS, Efstathios', 'BURKE, Thomas',
       'FLACK, Edwin', 'GARRETT, Robert', 'CONNOLLY, James', 'CLARK, Ellery',
       'FLAMENG, Léon', 'SCHMAL, Adolf', 'MASSON, Paul',
       ...
       'IRAWAN, Eko Yuli', 'Pending', 'KIM, Minjae', 'HUYNH, Carol',
       'KUDUKHOV, Besik', 'KUMAR, Sushil', 'GAZYUMOV, Khetag',
       'GOGSHELIDZE, George', 'BAYRAMOV, Rovshan', 'GUENOT, Steeve'],
      dtype='object', name='Athlete', length=5266)

In [56]:
# summer = summer.reset_index(drop=True)

In [59]:
summer_reindexed = summer.reindex(index=[0, 5, 30000, 40000], columns=["Athlete", "Medal"])
print(summer_reindexed)

         Athlete Medal
Athlete
0            NaN   NaN
5            NaN   NaN
30000        NaN   NaN
40000        NaN   NaN